* {
  margin: 0px;
  padding: 0px;
}

/* Desktop - 1 */
body {
  width: 100%;
  height: auto;
}

header {
  overflow: hidden;
}

.search-1 {
  height: 112px;
  background: linear-gradient(180deg, #080808 0%, rgba(0, 0, 0, 0.99) 100%);
}

.search-1 > a {
  width: 718px;
  height: 80px;

  font-family: 'Microsoft Sans Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;

  background: linear-gradient(180deg, #FFFEFD 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  align-self: center;
  text-align: center;
  justify-content: center;
  padding-top: 5px;
}

.search-1 > a:hover {
  border: 1px solid rgb(188, 186, 186);
  border-radius: 30px;
}
