* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  background-color: black;
}

.side-bar,
.search-box {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1.3;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.search-box {
  justify-content: flex-start;
}

.side-bar-container,
.search-box-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  padding: 0 12px;
}

.search-box-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-left: 40px;
}

.search-box-container > input[type="text"] {
  background-color: #202327;
  padding: 12px;
  border-radius: 24px;
  margin-bottom: 12px;
  margin-top: 8px;
}

.trend-container,
.account-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #16181c;
  border-radius: 16px;
}

.account-container {
  margin-top: 16px;
}

h2 {
  color: white;
  padding-left: 16px;
}
.show-more {
  color: aquamarine;
  padding: 16px;
}

.account {
  flex-direction: row;
  height: 72px;
}

.trend, .account {
  display: flex;
  flex-direction: column;
  height: 82px;
  padding: 12px 16px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  font-size: 14px;
}

.trend > span:nth-child(3) {
  font-weight: bold;
  color: white;
  font-size: 16px;
}
.nav-menu {
  display: flex;
  align-items: center;
  height: 58px;
  width: 100%;

  padding: 4px 0;
  margin-top: 4px;
}

.nav-menu > .menu-group > span {
  margin-left: 20px;
  color: white;
}

.menu-group {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 24px;
}

.trend >.more-button > img{
    width: 12px;
    height: 18px;
}
.menu-group:hover {
  background-color: rgb(22, 24, 28);
  cursor: pointer;
}

.tweet-btn {
  height: 52px;
  margin: 16px 0;
  width: 225px;
  border-radius: 52px;
  background-color: rgb(33, 155, 240);
  color: white;
  border: none;
}

.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}
.profile {
  height: 64px;
  width: 100%;
  margin: 12px 0;
  background-color: black;
  border-radius: 64px;
}

.title {
  display: flex;
  align-items: center;
  height: 54px;
  width: 100%;
  padding: 0 16px;
}

.tweet-section {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 16px;
}
.follow-btn {
  width: 77px;
  height: 32px;
  padding: 0 16px;
  border-radius: 18px;
  border: none;
  font-weight: bold;
  margin-left: auto;
}
.copyright {
    color: rgba(255, 255, 255, 0.3);
    margin-top: 6px;
    font-size: 12px;
}
.account {
  flex-direction: row;
}
.account-name {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  justify-content: space-between;
  height: 48px;
}
.account-name > span:first-child {
  font-weight: bold;
  color: white;
  font-size: 16px;
  display: flex ;
  justify-content: center;
}
.footer {
    display: flex;
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    margin-top: 16px;
} 

.footer > a {
    display: inline-block;
    margin-top: 4px;
    margin-right: 8px;
}

.account-name > span:first-child >img{
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-left: 4px;
}

.tweet-profile {
  width: 48px;
  height: 108px;
  margin-right: 12px;
}

.write-tweet {
  flex: 1;
}

.profile-image {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: beige;
}

input[type="text"] {
  width: 100%;
  height: 52px;
  border: none;
  outline: none;
  background-color: transparent;
}

.icon-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
}

.feed {
  flex: 1;
}

.tweet {
  display: flex;
  padding: 0 16px;
  padding-top: 12px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tweet-content {
  flex: 1;
  position: relative;
}

.name {
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
}
.name > span {
  opacity: 0.5;
}

.text-content {
  color: white;
  font-size: 14px;
}

.tweet-photo {
  width: 408px;
  height: 510px;
  border-radius: 16px;
  background-color: aquamarine;
  margin-top: 12px;
}

.action-group {
  display: flex;
  width: 408px;
  margin: 12px 0;
  justify-content: space-between;
}

.running-number {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 12px;
  font-size: 14px;
}

.action {
  display: flex;
  align-items: center;
}

.more-button {
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  transition: all 0.3s ease-in-out;
}

.more-button:hover {
  background-color: rgb(152, 190, 190);
  cursor: pointer;
}
