@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.container {
    width: 768px;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(2, 384px);
    border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			    0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
   
}

.box-1 {
    display: flex;
    align-items: center;
    width: 284px;
    height: 480px;
}

.box-2{
    background-color: #FF435E;
    width: 384px;
	height: 480px;
    display: flex;
    align-items: center;
    	z-index: 100;
}

.left-h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat' , sans-serif; 
    margin-bottom: 0px;
    
}

.right-h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat' , sans-serif; 
    color: #EEEEEE;
    margin-bottom: 0px;
}

span {
    font-size: 12px;
    
}

a {
    font-size: 14px;
    color: #333333;
    text-decoration: none;
	margin: 15px 0;
}

.left-btn {
    width: 143.01px;
    height: 39.03px;
    background-color: #FF4B2B;
    border: none;
    border-radius: 20px;
    color: #EEEEEE;
    font-size: 12px;
    font-family: Arial;
    padding: 12px 45px;
    letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    font-weight: bold;
}

.right-btn {
    width: 147.68px;
    height: 39.33px;
    border-radius: 20px;
    border: 1px solid white;
    color: #EEEEEE;
    font-size: 12px;
    background-color: transparent;
    letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    font-weight: bold;

}

button:active {
	transform: scale(0.95);
}

input {
    width: 284px;
    height: 44.67px;
    background-color: #EEEEEE;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;    
    
}

input::placeholder {
    margin: 8px 0;
    padding: 12px 15px;
}

.p-in-box-2 {
    font-size: 14px;
    font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
    
    
}


.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    text-align: center;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color: #FFFFFF;
    padding: 0 40px;
    text-align: center;
  	
}
    

  
footer {
    background-color: black;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    
}

.p-in-box-footer {
    margin: 10px 0;
    
}